name: performance_monitor
description: A Flutter package for lightweight performance monitoring with optional smart caching to optimize app startup time.
version: 1.1.2
homepage: https://github.com/sayedmoataz/flutter-performance-services
repository: https://github.com/sayedmoataz/flutter-performance-services
issue_tracker: https://github.com/sayedmoataz/flutter-performance-services/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  test: ^1.26.2
